<!DOCTYPE html>
<html lang="en">
<head>
    <title>Osteopath</title>
</head>
<!---THE BODY TAG IS USED FOR ANYTHING THAT IS GOING TO DISPLAY ON-SCREEN--->
<body>

    <p>This is a paragragh</p>
    <p>Website</p>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    {% for post in posts %}
    <article>

        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <time>{{ post.published_date }}</time>
    
    </article>
    {% endfor %}
</body>
</html>